@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: black;
}


a{
  color:gold; 
}
h1 {
  font-family: "SF Distant Galaxy";
  color:gold;
}



/* computer */
@media screen and (min-width: 600px) {
  .topImg{
    display:flex;
    align-self: center;
   
    justify-content: center;
    
   
   }
   .links{
     
     display:flex;
     justify-content: space-evenly;
   
   }
   .h{
     display:flex;
     justify-content: space-evenly;
   
   }


}

